header {
  margin: 20px;
}

header p {
  display: inline-block;
}

header .nav {
  float: right;
}

header .nav li {
  display: inline-block;
  margin: 0px 20px;
}

#game {
  margin: 0 auto;
}

#game {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

#game td {
  border: 1px solid black;
  width: 25%;
  height: 25%;
  text-align: center;
  vertical-align: middle;
}

.full {
  background-color: blue;
  color: white;
}
