body {
  background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:100px 100px; /* Must be a square */
    background-position:0 0, 50px 0, 50px 50px, 0px 50px; /* Must be half of one side of the square */
}

header {
  margin: 20px;
}

header p {
  display: inline-block;
}

header .nav {
  float: right;
}

header .nav li {
  display: inline-block;
  margin: 0px 20px;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

#game {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px
}

#game td {
  border-radius: 15px;
  width: 25%;
  height: 25%;
  text-align: center;
  vertical-align: middle;
}

.full {
  padding: 5px;
  color: white;
}

.flash {
  position: absolute;
  opacity: 1;
  width: 93.75px;
  height: 93.75px;
  background-color: rgba(255,255,255,0.9);
  z-index: 100;
  /* transition: opacity 0.5s ease; */
}

.n2 {
  background-color: #DEA28D;
}
.n4 {
  background-color: #619980;
}
.n8 {
  background-color: #5E798F;
}
.n16 {
  background-color: #DEBB8D;
}
.n32 {
  background-color: #C9896F;
}
.n64 {
  background-color: #4D8B6F;
}
.n128 {
  background-color: #4B6A81;
}
.n256 {
  background-color: #C9A36F;
}
.n512 {
  background-color: #B67056;
}
.n1024 {
  background-color: #3C7E60;
}
.n2048 {
  background-color: #3B5C75;
}
