body {
  background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:100px 100px; /* Must be a square */
    background-position:0 0, 50px 0, 50px 50px, 0px 50px; /* Must be half of one side of the square */
}

header {
  margin: 20px;
}

header p {
  display: inline-block;
}

header .nav {
  float: right;
}

header .nav li {
  display: inline-block;
  margin: 0px 20px;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

#game {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px
}

#game td {
  border-radius: 15px;
  width: 25%;
  height: 25%;
  text-align: center;
  vertical-align: middle;
}

.full {
  padding: 5px;
  color: white;
}

.n2 {
  background-color: hsl(193, 18%, 76%);
}
.n4 {
  background-color: hsl(192, 33%, 78%);
}
.n8 {
  background-color: hsl(191, 58%, 78%);
}
.n16 {
  background-color: #779df1;
}
.n32 {
  background-color: #637cfe;
}
.n64 {
  background-color: #644bfe;
}
.n128 {
  background-color: #644bfe;
}
